<h2>Dashboard</h2>
<br/>
<p>Please select a business card </p>
<input type="file" (change)= "onSelected($event)">
<br/>
<br/>
<button type ="submit" class="btn btn-info" (click)="onUpload()">Detect Text</button>

<br/>
<br/>
<br/>
<br/>
<p>Search from Database </p>
<form class="form-inline">
  <input class="form-control" name="search" placeholder="Search by name" [(ngModel)]="searchText" style="width:80%;">
</form>
<br/>
<br/>

<table class ="table table-sm">
    <thead>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      
    </thead>
    <ng-container *ngFor="let contact of contacts | async">
      <tr class ="table-dark" *ngIf= "filterCondition(contact)">
        <td>{{contact.name}}</td>
        <td>{{contact.address}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.email}}</td>
      </tr>
    </ng-container>
</table>


<a *ngIf=admin|async routerLink="/history">Go to History</a>