<input type="file" (change)= "onSelected($event)">
<br/>
<br/>
<button type ="submit" class="btn btn-info" (click)="onUpload()">Upload</button>

<br/>
<br/>

<form class="form-inline">
  <input class="form-control" name="search" placeholder="Search by first name" [(ngModel)]="searchText" style="width:80%;">
</form>
<br/>

<table class ="table table-sm">
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Company Name</th>
      <th>Address</th>
      
    </thead>
    <ng-container *ngFor="let contact of contacts | async">
      <tr class ="table-dark" *ngIf= "filterCondition(contact)">
        <td>{{contact.firstName}}</td>
        <td>{{contact.lastName}}</td>
        <td>{{contact.company}}</td>
        <td>{{contact.address}}</td>
      </tr>
    </ng-container>
</table>


<a *ngIf=admin|async routerLink="/history">Go to Search History</a>